{{ partial "header" . }}

<main>

    <div class="intro">

        <p><img src="img/shirazlug_logo.svg" height="130px" alt=""></p>

        <h1>{{ .Site.Title }}</h1>

        <h3>{{ markdownify .Site.Params.Description }}</h3>

    </div>

    <div class="row">
        <!-- Registeration -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="https://evnd.co/bgZP3" target="_blank">ثبت نام جلسه آینده شیرازلاگ</a><br> 
            <img src="img/posters/next_session.jpg" width="400px">
        </div>

        <!-- No Registeration -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5>این جلسه نیاز به ثبت نام ندارد</h5>
            <img src="img/posters/next_session.jpg" width="400px">
        </div> -->

        <!-- Zand University / Namazi -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><a href="https://www.openstreetmap.org/?mlat=29.62514&mlon=52.49293#map=19/29.62514/52.49293"> {{ markdownify .Site.Params.Address }}</a></h5>
            <iframe width="400" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=52.49190330505372%2C29.624501728908506%2C52.493957877159126%2C29.62577477466783&amp;layer=mapnik&amp;marker=29.625138253798774%2C52.492930591106415" style="border: 1px solid black"></iframe>
        </div> -->


        <!-- Zand University / Hemmat -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><a href="https://www.openstreetmap.org/way/68560755"> {{ markdownify .Site.Params.Address }}</a></h5>
            <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=52.45058655738831%2C29.629736035767337%2C52.464748620986946%2C29.638296863709083&amp;layer=mapnik&amp;marker=29.634016540693473%2C52.45766758918762" style="border: 1px solid black"></iframe>
        </div> -->

        <!-- Sanati University -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><a href="https://www.openstreetmap.org/way/68560755"> {{ markdownify .Site.Params.Address }}</a></h5>
            <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=52.57729303797534%2C29.582537620493266%2C52.58231413325122%2C29.585653886990446&amp;layer=mapnik&amp;marker=29.584095765769607%2C52.57980358561326"
                style="border: 1px solid black"></iframe>
        </div>

        <!-- Azadi Garden -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><a href="https://osm.org/go/zGYmpdEl?m="> {{ markdownify .Site.Params.Address }}</a></h5>
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=52.5252914428711%2C29.621370340955984%2C52.55361557006837%2C29.637914532886885&amp;layer=mapnik&amp;marker=29.629652102479902%2C52.53945350646973" style="border: 1px solid black"></iframe>
        </div> -->

        <!-- Jannat Garden -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><a href="https://www.openstreetmap.org/?mlat=29.6137&mlon=52.4731#map=16/29.6137/52.4731"> {{ markdownify .Site.Params.Address }}</a></h5>
            <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=52.45896577835084%2C29.605886844170467%2C52.4872899055481%2C29.62142630108831&amp;layer=mapnik&amp;marker=29.613666199473407%2C52.47312784194946" style="border: 1px solid black"></iframe>
        </div> -->
    </div>
</main>

{{ partial "footer" . }}