<div class="item">

    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }} {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }} {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ .Date.Format (.Site.Params.dateFormat | default "2006/1/2") | $.Scratch.Set "subtitle" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

    <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
    <!-- <h5>نویسنده: {{ if isset .Params "author" }} {{ .Params.author }} {{else }} {{ .Site.Params.author }} {{end}}
        &nbsp; &nbsp; &nbsp; &nbsp;
        {{ $.Scratch.Get "subtitle" }}</h5> -->

        <h5>{{ .Date.Format "2006/01/02" }} - {{ .Description }}</h5>
    
    <!--h5>{{ .Date }}</h5-->
    {{ range .Params.tags }} <kbd class="item-tag">{{ . }}</kbd> {{ end }}

</div>
